/*@import "tailwindcss";*/
@import "@fontsource/jersey-15";
@import "@fontsource/poppins";
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-family: "Jersey 15", cursive;
  font-size: 48px;
  /*font-weight: bold;*/
}

h2 {
  font-family: "Jersey 15", cursive;
  font-size: 36px;
  font-weight: bold;
}

h3,
button {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: regular;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: regular;
}

nav {
  font-family: "Poppins", sans-serif;
  font-size: 21px;
  font-weight: regular;
}

#faq {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: regular;
  font-style: italic;
}

#screens-container > * {
  width: var(--arcade-w);
  height: var(--arcade-h);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-stroke {
  -webkit-text-stroke: 0.3px #050423;
  /* Use your primary-light color */
  text-stroke: 0.3px #050423;
}

.font-jersey {
  font-family: "Jersey 15", cursive;
}

::-webkit-scrollbar {
  display: none;
}
