@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+15&display=swap");

/* ----GENERAL STYLES----  */
.header {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #050423;

  display: flex;
  align-items: start;
  justify-content: space-between;
  box-sizing: border-box;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

/* ----LOGO SECTION (LEFTSIDE)---- */
.logo-section {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  padding: 40px 48px;
}

.logo {
  width: 66px;
  height: 66px;
}

.nav-title {
  font-size: 47px;
}

/* ----MAIN NAVIGATION (CENTER-RIGHT)---- */
.main-nav {
  padding-top: 50px;
}

.main-nav-list {
  display: flex;
  gap: 100px;
  list-style: none;
}

.main-nav-list-items {
  font-size: 35px;
  text-decoration: none;
  font-family: "Jersey 15", sans-serif;
}

.about-hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

/* Dropdown Menu Styles */
.about-dropdown {
  position: relative;
}

.about-toggle {
  background: none;
  border: none;
  font-family: "Jersey 15", sans-serif;
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0;
}

.arrow-icon {
  display: inline-flex;
  align-items: center;
  transition: transform 0.2s ease;
}

.arrow-icon.open {
  transform: rotate(180deg);
}

.dropdown-arrow {
  width: 20px;
  height: 20px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #f9f5f2;
  border: 2px solid black;
  border-radius: 6px;
  list-style: none;
  padding: 10px 16px;
  margin: 8px 0 0 0;
  box-shadow: 2px 2px 0 black;
  z-index: 10;
}

.dropdown-menu li {
  padding: 6px 0;
}

.dropdown-menu li a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  font-family: "Jersey 15", sans-serif;
  font-size: 30px;
}

/* ----MLH BANNER (RIGHTSIDE)---- */
.banner-img {
  width: 112px;
  height: auto;
  margin-right: 48px;
  padding-top: 10px;
}
